{% trans_default_domain 'FOSUserBundle' %}

<a href=" {{ path('homepage') }} ">Accueil</a> > <a href=" {{ path('espace_membre') }} ">Profil</a> > Changer mon mot de passe<br><br>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    {{ form_errors(form) }}

    <fieldset class="fieldset_margin">
        <legend>Changement du mot de passe</legend>

        {{ form_widget(form) }}

        <div>
            <input id="btnModifier" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </fieldset>

{{ form_end(form) }}
